@font-face {
  font-family: "Wellfleet";
  src: url(../../../../assets/fonts/Wellfleet-Regular.ttf) format("truetype");
}

.pallete1{
  color:#03256C;
  color:#2541B2;
  color:#1768AC;
  color:#06BEE1;
  color:#FFFFFF;
}

.card-wrapper{

  width: 90px;
  height: 150px;

  border: 2px solid #03256C;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 600;
  font-family: "Wellfleet", Arial, Helvetica, sans-serif;;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  .header{
    margin:5%
  }

  .body{
    background-color: #06BEE1;
    border-radius: 10px;
    border: 2px dashed white;
    margin:20px;
  }

  .footer{
    margin:5%
  }


  .red{
    color:#E64C3C;
  }

  .black{
    color:#000;
  }

}
