:host {
    height: 100%;
    width: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;


    background-image: url("/images/tables/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    card {
        &:hover {
            margin-bottom: 40px;
        }
    }

    .row1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2px;
        opacity: 0.8;
        width: 100%;
        margin-top: 15px;
        position: relative;

    }

    .row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        margin: auto 0;

        .center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2px;
            opacity: 0.8;
            flex: 2;
            height: 100%;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2px;
            opacity: 0.8;
            flex: 1;
            margin-left: 15px;
            position: relative;
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 2px;
            opacity: 0.8;
            flex: 1;
            margin-right: 15px;
            position: relative;
        }
    }

    .row3 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 2px;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        position: relative;
    }

    .xcard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 140px;
        background-color: darkgrey;
        border-radius: 10px;
        margin-right: -75px;
        border: 2px solid red;
    }

    .ycard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 100px;
        background-color: darkgrey;
        border-radius: 10px;
        margin-bottom: -75px;
        border: 2px solid red;
    }

}