:host {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 10px;
    padding: 2px;
    font-family: sans-serif;
    height: 200px;
    width: 140px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    transition: all 0.4s ease-in-out;

    &:hover {
        cursor: pointer;
    }

}

.inner {
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: white;

    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 30px 30px 1fr 30px 30px;

    align-items: center;
    justify-items: center;
}

.top {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;

}

.center {
    border: 1px solid black;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;

    mat-icon {
        transition: all 0.2s ease-in-out;
        height: 42px;
        width: 42px;

        &:hover {
            height: 54px;
            width: 54px;
        }
    }
}

.bottom {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;



}