<div class="card">
    @if(!showCover) {
    <div class="inner">
        <div class="top">
            <div class="value">{{card.value | cardValue}}</div>
            <ng-container *ngTemplateOutlet="suitIconTemplate; context: { suit: card.suit }"></ng-container>
        </div>

        <div class="center">
            <ng-container *ngTemplateOutlet="suitIconTemplate; context: { suit: card.suit }"></ng-container>
        </div>

        <div class="bottom">
            <ng-container *ngTemplateOutlet="suitIconTemplate; context: { suit: card.suit }"></ng-container>
            <div class="value">{{card.value | cardValue}}</div>
        </div>

    </div>
    } @else {
    <div class="cover">

    </div>
    }
</div>

<ng-template #suitIconTemplate let-suit="suit">
    @switch (suit) {
    @case ('hearts') {
    <mat-icon class='red' svgIcon="phosphor:fill_heart"></mat-icon>
    }
    @case ('diamonds') {
    <mat-icon class='red' svgIcon="phosphor:fill_diamond"></mat-icon>
    }
    @case ('clubs') {
    <mat-icon class="black" svgIcon="phosphor:fill_club"></mat-icon>
    }
    @case ('spades') {
    <mat-icon class="black" svgIcon="phosphor:fill_spade"></mat-icon>
    }
    }
</ng-template>