<div class="card" [ngClass]="{ 'xcard': xcard, 'ycard': ycard }">
    @if(!showCover) {
    <div class="inner">
        <div class="top">
            <div class="value">{{card.value}}</div>
            <ng-container *ngTemplateOutlet="suitIconTemplate; context: { suit: card.suit }"></ng-container>
        </div>

        <div class="center">
            {{card.value}}
        </div>

        <div class="bottom" ngClass="{ 'red': card.suit === 'hearts' || card.suit === 'diamonds' }">
            <ng-container *ngTemplateOutlet="suitIconTemplate; context: { suit: card.suit }"></ng-container>
            <div class="value">{{card.value}}</div>
        </div>

    </div>
    }@else {
    <div class="cover">

    </div>
    }
</div>

<ng-template #suitIconTemplate let-suit="suit">
    @switch (suit) {
    @case ('hearts') {
    <mat-icon class='red' svgIcon="phosphor:heart"></mat-icon>
    }
    @case ('diamonds') {
    <mat-icon class='red' svgIcon="phosphor:diamond"></mat-icon>
    }
    @case ('clubs') {
    <mat-icon class="black" svgIcon="phosphor:club"></mat-icon>
    }
    @case ('spades') {
    <mat-icon class="black" svgIcon="phosphor:spade"></mat-icon>
    }
    }
</ng-template>