.tabble-wrapper{
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/images/boards/table4.jpg');
  background-size:100% 100%;

  .header{

  }

  .body{

    .left-player{

    }
    .right-player{

    }
  }

  .footer{

  }

}
